*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --green: #27cf6a;
    --darkgreen: #187a40;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    align-items: center;
    padding: 1em 2em;
}

.name{
    font-size: 2rem;
    font-weight: bold;
}

.logo{
    font-size: 4rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

#theme{
    background-color: var(--green);
    border: none;
    
}

#theme>img{
    width: 3rem;
    height: 3rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list>li>a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    padding: 1em;
    border-radius: 0.5rem;
}

.nav-list>li>a:hover{
    background-color: var(--darkgreen);
    color: white;
}


.caption{
    text-align: center;
}

.caption-description{
    text-align: center;
}

.home{
    margin: 4.95% 10%;
}

.caption{
    font-size: 4.5rem;
}

.you{
    font-weight: 1000;
    font-size: 1.1em;
}

.caption-description{
    margin: 3rem 5rem;
    font-size: 1.5rem;
}

.action>button{
    display: block;
    background-color: #27cf6a;
    padding: 2rem;
    margin: 0 auto;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.action{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #27cf6a;
    padding: 1.5rem 0 1rem;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}

.contact{
    line-height: 2em;
    color: black;
}

.contact>ul{
    list-style-type: none;
    padding-top: 0.5em;
    color: black;
}


/* Dashboard */

.dashboard-title{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.dashboard-container{
    padding: 1em;
}

#filter-form{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin: 1rem;
    color: black;
}

#filter{
    background-color: #e7ece9;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
}

#filter-content{
    display: none;
    margin: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#filter-content>div{
    height: 3rem;
}

#searchbar{
    width: 100%;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#apply{
    grid-column: 2;
    width: 50%;
}

#sessionTime{
    text-align: center;
    margin: 1rem;
}

#time{
    font-size: 1.5em;
}

#scholarship-count{
    margin-left: 2rem;
}

#count{
    font-size: 1.5rem;
}

#scholarships{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-evenly;
    align-items: stretch;
}

.scholarship-box{
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 1rem;
    width: 90%;
    margin: 0.5em 0;
}

.scholarship-title{
    text-align: center;
    margin-bottom: 0.5rem;
}

.scholarship-link{
    text-decoration: none;
    color: black;
}

.scholarship-button{
    display: block;
    background-color: #27cf6a;
    padding: 1rem;
    margin: 1rem auto 0;
    border: none;
    border-radius: 3rem;
    font-weight: bold;
}

/* Scholarship */

#scholarship{
    background-color: var(--green);
}

.scholarship-container{
    background-color: white;
    padding: 2rem;
    width: 30%;
    margin: 20vh auto;
    line-height: 1.5;
    border-radius: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.256);
}

.scholarship-container>h1,.scholarship-container>h2{
    text-align: center;
}

.scholarship-container>ul{
    list-style-type: none;
}

#scholarship-link{
    display: block;
    text-align: center;
}

#visit-scholarship-button{
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: var(--green);
    border-radius: 1rem;
}

/* Profile */

.profile-title{
    text-align: center;
    margin: 14rem 7rem;
}
